.userCard {
    position: relative;
    margin-top: 30px;
}

.card_buttons > a {
    position: absolute;
    right: 10px;
    top: 50%;
    size: 50px;
}

svg {
    color: blue;
}

.w-5 {
    display: none;
}

div.text-center > nav * {
    margin-top: 20px;
}


/* Main Search Page */

#mainPageSearchedProducts {
    display: flex; 
    flex-wrap: wrap;
}

#mainPageSearchedProducts > *:not(last-child) {
    margin-bottom: 20px;
}


.category_card img {
  background-color: #f6f6f6;
  margin: auto;
}

.category_card a{
  color: black;
}

.category_card:hover img {
  transform: scale(1.1);
  transition: .2s;
  background-color: red;
  border: 2px solid white;
}

.category_card:hover div {
  display: flex;
  width: 108px; 
  height: 108px; 
  border-radius: 50%; 
  overflow: hidden;
  border: 2px solid orangered;
}

.category_card:hover a {
  color: red;
}

.rating-color {
  color: rgb(228, 228, 1);
}

.wishlist_summary, .filter_sidebar, .filter_orderby_bar, .product_wishlist_card {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}

.product_page_info {
  background-color: white;
  padding: 1rem;
}

.product_page_img {
  background-color: white;
  padding: 1rem;
}

.product_page_img img {
  height: 34rem;
  width: 34rem;
  margin: 0 auto;
}

.product_page_tabs {
  background-color: white;
  padding: 1rem;
}


.product_card {
  height: 32rem;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
}

.product_card_img {
  margin: 1rem auto;
  width: 14rem;
  height: 14rem;
}

.product_card_img img{
  width: 14rem;
  height: 14rem;
}

.product_card_img img:hover {
  transform: scale(1.04);
  transition: .2s;
}

.product_card_desc {
  height: 4rem;
  overflow: hidden;
}

.product_card_name {
  height: 2.5rem;
  overflow: hidden;
  font-size: large;
}

.product_card_name a {
  color: black;
  text-decoration: none;
}

.product_card_name a:hover {
  color: red;
  transition: .1s;
}

.product_card_price {
  color: red;
  font-size: 26px;
}

.product_card_btn button:hover {
  color: red;
}

.breadcrumb-item a {
  color: black;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  color: red;
  transition: .1s;
} 

.breadcrumb-item.active {
  font-weight: bold;
  text-transform: uppercase;
}

.filter_orderby_bar .form-select {
  font-weight: bold;
  width: 10rem;
  border: 0;
}

.container div h2 {
  margin-top: 0;
  margin-bottom: 0;
}