@media only screen and (max-width: 560px) {
    .carousel-inner {
        position: relative;
    }
    
    .carousel-item {
        position: absolute;
        margin: 0px;
        top: 50%;
        left: 0%;
    }
}

@media only screen and (max-width: 1000px) {
    #two_main_divs {
        display: flex;
        flex-direction: column;
    }

    #two_main_divs > * {
        width: 100%;
    }
}